.header{
    width: 100%;
    border-bottom: 1px solid rgb(177, 177, 177);
    background-color: #fff;
}
.header_container{
    display: flex;
    align-items: center;
    height: 54px;
}
.logo{
    cursor: pointer;
    margin: 0;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: end!important;
    height: 100%;
    width: 200px;
    /* margin-right: 200px; */

}
.input_container{
    position: relative;
    width: 100%;
}

.search_btn{
    position: absolute;
    top: 48%;
    transform: translate(-50%, -50%);
    left: 9%;
    cursor: pointer;
}
.search_bar{
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 14px;
    outline: 0;
    padding: 3px 10px 3px 26px;
}
.menu div{
    margin-left: 10px;
    cursor: pointer;
}
.avater_icon{
    height: 30px;
    width: 30px;
    border: 2px solid rgb(255, 107, 107);
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
}
.avater_img{
    height: 100%;
    object-fit: contain;
}